@import "./../../styles/variables";

.content-image {
  max-width: 50%;
  .main-image {
    max-width: 400px;
  }

  @include tablet {
    max-width: fit-content;
  }

  @include mobile {
    .main-image {
      max-width: 310px;
    }
  }
}
