@import "./../../styles/variables";

.footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;

  .footer-item {
    height: 22px;
  }

  @include tablet {
    margin-top: 50px;
  }

  @include small-tablet {
    .footer-item {
      height: 15px;
    }
  }
}
